
.container

    h1 Welcome to Sonosthesia

    p The Sonosthesia project aims to offer new ways for artists to create interactive audio/visual digital art. It lives at the intersection of audio/music, graphics/CGI, simulation/visualisation, human-computer interaction, virtual/augmented reality and live artistic performance, and attempts to create bridges between these domains. It's time for a new age of digital content to hit the mainstream.


