.container.jumbotron
    .div

        h1.text-center Sonosthesia

        h2.text-center Next Generation Interactive Digital Art

.container
    .div

        p.text-center.vertical-space-sm The Sonosthesia project aims to offer new ways for artists to create interactive audio/visual digital art. It lives at the intersection of audio, music, graphics, CGI, visualisation, physics simulations, artificial intelligence, human-computer interaction, virtual and augmented reality and live artistic performance. It offers and promotes tools and software extensions to create bridges between these domains, implementing current and new ideas for the development of next generation interactive multi-modal art forms.


        //a.btn.btn-primary.btn-lg(href="#{baseUrl}/docs") View the documentation