

.container.jumbotron
    .div

        h1.text-center Sonosthesia

        //h2.text-center Next Generation Interactive Digital Art

        h2.text-center Next Generation Immersive Sound Worlds

.container
    .div

        //p.text-center.vertical-space-sm The Sonosthesia project aims to offer new ways for artists to create interactive audio/visual digital art. It lives at the intersection of audio, music, graphics, CGI, visualisation, physics simulations, artificial intelligence, human-computer interaction, virtual and augmented reality and live artistic performance. It hosts tools and software extensions to create bridges between these domains, implementing current and new ideas emerging from research institutions. It's time for a new age of digital art to hit the mainstream.

        p.text-center.vertical-space-sm The Sonosthesia project offers new ways to create interactive digital art by allowing artists to create virtual three-dimensional environments which can both control and react to sound. It aims to provide new possibilities for artists in the music, games and CGI industries by extending virtual reality engines and digital audio workstations, taking inspiration from current audio visual arts research. It's time for a new age of digital art to hit the mainstream.
