

//p.text-center.vertical-space-sm The Sonosthesia project aims to offer new ways for artists to create interactive audio/visual digital art. It lives at the intersection of audio, music, graphics, CGI, visualisation, physics simulations, artificial intelligence, human-computer interaction, virtual and augmented reality and live artistic performance. It hosts tools and software extensions to create bridges between these domains, implementing current and new ideas emerging from research institutions. It's time for a new age of digital art to hit the mainstream.

// p.text-center.vertical-space-sm The Sonosthesia project offers new ways to create interactive digital art by allowing artists to create virtual three-dimensional environments which can both control and react to sound. It aims to provide new possibilities for artists in the music, games and CGI industries by extending virtual reality engines and digital audio workstations, taking inspiration from current audio visual arts research. It's time for a new age of digital art to hit the mainstream.


div

    div.container.jumbotron
        .div

            h1.text-center Sonosthesia

            //h2.text-center Next Generation Interactive Digital Art

            h2.text-center Next Generation Immersive Sound Worlds

    div.container


        //h1.title New Opportunities for Digital Arts

        p.subtitle.lead Sonosthesia aims to promote the development of interactive digital art. It is a platform for exchanging ideas, hosting tools and projects and fostering collaborations, in particular focusing around the idea of immersive sound worlds in virtual and augmented reality.


        div.row


            div.col-md-3

                div.about-section-link

                    h2 #[a(href="../concepts") Concepts]

                    p A reference for key concepts in digital interactive arts, discussions about current and novel interaction techniques, virtual and augmented reality, cross-modal stimulation and other fields related to Sonosthesia

            div.col-md-3

                div.about-section-link

                    h2 #[a(href="../protocols") Protocols]

                    p A description of novel messaging protocols developed and used by Sonosthesia. MIDI or OSC had their drawbacks, so a set of JSON-based messaging patterns have been developed, specially adapted to our needs.

            div.col-md-3

                div.about-section-link

                    h2 #[a(href="../tools") Tools]

                    p A set of open source tools and software extensions, plugins, scripts, externals and others, allowing artists and geeks to easily augment their work environment for the creation of multi-modal interactive content.

            div.col-md-3

                div.about-section-link

                    h2 #[a(href="../projects") Projects]

                    p Hosted projects which demonstrate the use of the tools, with as much documentation and supporting files as possible as a source of inspiration and collaborations between artists of different backgrounds.

div.background-fill-2

    div.container

        h1.title Virtual Reality as a Performance Environment

        p.subtitle The idea of virtual sound worlds which can both react to and control sound in real-time is a central driving force behind Sonosthesia. A number of key concepts make VR as a performance environment a truly inspiring goal, and the current revolution driven by Occulus, HTC, Sony, Unity and other key players like the hugely promising #[a(href="http://www.maxplay.io/") Maxplay], is finally edging this goal to within reach.


        div.about-item-container

            h3 Inbuilt Physics

            p Our real-life experience of sound control is impossible to dissociate from physics. We generate sounds by tapping, thumping, scraping, scratching, pinching, plucking, strumming... The physics behind all these actions are intuitive to us, we do not need to understand them mathematically in order for them to make sense. They can however be described in terms of collisions, contacts or friction by the physics engines which are central to any VR engine. This offers the potential to emulate and augment real-world object manipulation using these intuitive mechanisms, generating a stream of physics data which can be used to provide organic, lifelike experiences of sounds, visuals and haptics.

        div.about-item-container

            h3 Gestures in Context

            p Virtual reality gives context to gestures, something which has been missing from a previous gestural interfaces. We intuitively expect the result of our gestures to be dependent on their effect on the local environment. A drummer can use the same stick motions to create a great number of different sounds by varying impact points. In the same way, the context brought by a virtual world allows performers to create endless control variations from a limited gestural vocabulary by giving virtual objects different control characteristics which can be encoded in their color, texture, size, shape or any other attribute.

        div.about-item-container

            h3 Spectator Immersion

            p Virtual reality is that it is simultaneously an interaction context and a rendering context, which can greatly enhance the feeling of presence. It allows the audience to be immersed in the performance environment, experiencing, understanding and connecting with the performer's interactions at a deeper level, and possibly also affecting the content themselves. In a sense this blurs the distinction between performers and audience, and turns passive observers into participants who can breath endless life into artistic content.


div

    div.container

        h1.title Building Bridges

        p.subtitle Sonosthesia does not aim to provide full blown software solutions attempting to solve the technical challenges of interactive digital arts. Instead it aims to create bridges between existing software in order to allow them to communicate, control and stimulate each other. This is done through the use of scripts, plugins, libraries or whatever other means of extensions the software packages allow. The main challenge for Sonosthesia is providing a powerful common language for these interactions. Of particular interest are virtual reality game engines, visual programming environments, and digital audio workstations. These different tools do very different things, and guide artistic creation in different ways. In the end, building these bridges will bring a wealth of current artists closer to the project, with all their expertise and audiences. Audio-visual art can be mainstream, it just needs to reach out.

        div.about-item-container

            h3 Virtual Reality Game Engines

            p VR game engines such as Unity and Unreal offer game developers and artists functionality which is of obvious interest for Sonosthesia, such as advanced scene editing, guizmos, particle systems, unified shader languages, powerful profiling tools and hugely abundant and versatile online asset stores. They also produce extremely portable and adaptable software, which will work with a wide array of input devices, exploit the latest in hardware and run on a wide variety of platforms including desktop, mobile, web and most importantly emerging head mounted displays aiming to democratise virtual reality.

        div.about-item-container

            h3 Visual Programming Environments

            p Visual (or patcher) programming languages such as #[a(href="https://cycling74.com/products/max") Max] and #[a(href="https://puredata.info/") PureData] have been at the forefront of interactive digital arts research for a while, and for good reason. Their data and control representation is naturally suited to real-time reactive systems and the integration of both sonic (MSP) and graphical (Jitter) tools is a great asset for the creation of multi-modal content. The recent addition of high-level content generation and processing tools such as #[a(href="https://cycling74.com/2015/09/15/a-few-minutes-with-beap-tutorial-series") BEAP] and #[a(href="https://cycling74.com/2010/11/19/introducing-vizzie") Vizzie] make Max all the more appealing.

        div.about-item-container

            h3 Digital Audio Workstations

            p Digital audio workstation (DAWs) are a primary tool for music composition and production, sound design, and most importantly live musical performances. They have extensive and intuitive tools for sequencing, mixing, orchestrating, processing, routing, loops, scores, automation, metadata and much more. This allows artists to easily create clear timbral, harmonic and temporal structure which is often missing in current audio-visual art. Although it could be argued that an environment like visual programming lamguages like Max could replicate this structuring functionality, it would be difficult make it as usable and cohesive as packages like Logic Pro, Ableton Live or Pro Tools.











