

div

    div.container.jumbotron
        .div

            h1.text-center Sonosthesia

            h2.text-center Under Construction...

            //h2.text-center Next Generation Immersive Digital Arts

    div.container


        //h1.title New Opportunities for Digital Arts

        p.subtitle.lead Sonosthesia aims to promote the development of immersive digital art. It is a platform for exchanging ideas, hosting tools and projects and fostering collaborations, in particular focusing around the idea of immersive sound worlds in virtual and augmented reality.


        div.row


            div.col-md-6

                div.about-section-link

                    h2 #[a(href="../concepts") Concepts]

                    p A reference for key concepts in digital interactive arts, discussions about current and novel interaction techniques, virtual and augmented reality, cross-modal stimulation and other fields related to Sonosthesia

            div.col-md-6

                div.about-section-link

                    h2 #[a(href="../protocols") Protocols]

                    p A description of novel messaging protocols developed and used by Sonosthesia. MIDI or OSC had their drawbacks, so a set of JSON-based messaging patterns have been developed, specially adapted to our needs.

        div.row

            div.col-md-6

                div.about-section-link

                    h2 #[a(href="../tools") Tools]

                    p A set of open source tools and software extensions, plugins, scripts, externals and others, allowing artists and geeks to easily augment their work environment for the creation of multi-modal interactive content.

            div.col-md-6

                div.about-section-link

                    h2 #[a(href="../projects") Projects]

                    p Hosted projects which demonstrate the use of the tools, with as much documentation and supporting files as possible as a source of inspiration and collaborations between artists of different backgrounds.

div.background-fill-2

    div.container

        h1.title Connect Software and Build Bridges


        p.subtitle.lead Sonosthesia uses a powerful language to create intuitive cross-domain control flows between virtual reality engines, visual programming environments, digital audio workstations and creative deep neural networks. Through this a symbiosis of living sound, visuals, physics and haptics emerges, resulting in truly immersive performance environments.

        // super cool diagram goes here

        div.row
            div.col-sm-2
            div.col-sm-8.body-image-container
                img(src="./images/overall-diagram-1.png")
            div.col-sm-2

        p.subtitle.lead Connect software on your local network through the Sonosthesia hub, and easily connect hubs together across the internet for distant collaboration using open standards like WebRTC.

        // super cool diagram goes here

        div.row
            div.col-sm-2
            div.col-sm-8.body-image-container
                img(src="./images/overall-diagram-2b.png")
            div.col-sm-2

        p.subtitle.lead We allow diverse tech-artists to join a collaborative, interactive software eco-system by augmenting their existing work environment. Breath new life into your art with endless combinations. Together we are stronger. Come join the fun.


div

    div.container

        h1.title Perform in Virtual Reality

        p.subtitle.lead We interact with real world objects by tapping, scraping, scratching, pinching, plucking, strumming and so much more. Sonosthesia aims to reproduce these interactions in VR, taking advantage of new input devices and powerful physics engines.

        // super cool diagram goes here

        div.row
            div.col-sm-2
            div.col-sm-8.body-image-container
                img(src="./images/manipulation.png")
            div.col-sm-2

        p.subtitle.lead You can use these interactions to control anything by using the Sonosthesia software bridges. Use colors, textures, shapes or particles to describe the way objects behave when manipulated, the possibilities are endless.

        // super cool diagram goes here

        div.row
            div.col-sm-2
            div.col-sm-8.body-image-container
                img(src="./images/audience.png")
            div.col-sm-2

        p.subtitle.lead Bring the audience into the virtual performance environment so that they can experience it first hand. They can even interact with the environment themselves. Your audience will no longer be passive observers but participants who can breath life into your art.





