div

    div.container.jumbotron
        .div

            h1.text-center Sonosthesia

            h2.text-center Under Construction...

            //h2.text-center Next Generation Immersive Digital Arts