.container

    h1 Related Projects


    h3 Musical VR Experiences

    p A number of commercial and academic projects are currently emerging with aims similar or related to that of Sonosthesia. In the interest of reference and hopefully some future collaborations some are listed here, with descriptions provided by their authors. The idea of musical VR experiences has already been explored in a number of projects available online:

    ul

        li #[a(href="http://groovr.com/") GrooVR] from #[a(href="http://www.presence-labs.com") Presence Labs]

        li #[a(href="https://gallery.leapmotion.com/lyra/") Lyra]. A virtual musical experience designed for the leap motion.

        li #[a(href="http://playthingsvr.com/") Playthings VR]. #Playthings was made to welcome anyone to the world of virtual reality. Built for the HTC Vive, Playthings puts virtual drumsticks in your hands and sets you loose on a musical playground from another world.

        //li #[a(href="http://www.vrtify.com") VRTIFY] About choosing and browsing music in VR, not really related
        //li #[a(href="http://sideloadvr.com/detail.php?id=19") VRock] from #[a(href="http://sideloadvr.com") SideloadVR]

        li #[a(href="http://www.redpillvr.com/") Red Pill VR] have clearly stated their intent on being key players in immersive VR music experiences.


    h3 Libraries, Scripts, Tools, Plugins and More

    p Adam Stark has a number of projects relating to DAW's, audio plugins and gestural sound control:

    ul

        li #[a(href="http://www.adamstark.co.uk/project/mimu-gloves/") The mi.mu gloves]. Wearable, wireless, gestural musical instruments and controllers. By capturing the movements of your hands the mi.mu gloves allow you to control synthesisers, audio effects, play chords, trigger samples or loop your voice.

        li #[a(href="http://www.adamstark.co.uk/project/sound-analyser/") The sound analyser]. An audio plug-in that allows you to load a number of different audio analyses in parallel. The result of the audio analysis is then sent via OSC so it can be used in other applications.

    p #[a(href="https://github.com/keijiro") Keijiro Takahashi] has a large number of very interesting open source projects mostly based around Unity, picking some of the most relevant:

    ul

        li #[a(href="https://github.com/keijiro/Klak") Klak]. A library for creative coding implementing various noise and motion generators, interpolators, smoothers, and a number of extensions for OSC and MIDI input.

        li #[a(href="https://github.com/keijiro/Reaktion") Reaktion]. An audio reactive animation toolkit for Unity which incorporates some of the ideas of the sound analyser in Unity.

        li The Kvant suite of tools with quite of few procedural rendering gems including #[a(href="https://github.com/keijiro/KvantSpray") KvantSpray], #[a(href="https://github.com/keijiro/KvantSwarm") KvantSwarm], #[a(href="https://github.com/keijiro/KvantWall") KvantWall], #[a(href="https://github.com/keijiro/KvantLattice") KvantLattice] and many others.

        li Some mesh based visual effect scripts such as #[a(href="https://github.com/keijiro/Skinner") Skinner].

        li A number of full blown artistic projects including #[a(href="https://github.com/keijiro/Phantom") Phantom], #[a(href="https://github.com/keijiro/Teatro") Teatro] and #[a(href="https://github.com/keijiro/VJ05") VJ05].



