.container

    h1 Related Projects

    p A number of projects are currently emerging with aims similar or related to that of Sonosthesia. In the interest of reference and hopefully future collaboration they are listed here.

    ul
        li #[a(href="http://playthingsvr.com/") Playthings VR]
        li #[a(href="http://www.vrtify.com") VRTIFY]
        li #[a(href="http://sideloadvr.com/detail.php?id=19") VRock] #[a(href="http://sideloadvr.com") SideloadVR]


    h1 Related Companies

    p A number of people have realised that there is some serious money to be made in VR experiences, specifically in relation to music.

    ul
        li #[a(href="http://www.presence-labs.com") Presence Labs] and their flagship #[a(href="http://groovr.com/") GrooVR]



