
.container

    h2 New Opportunities for Digital Arts

    p Sonosthesia aims to promote the development of interactive digital art forms. It offers a set of #[a(href="../tools") tools] for digital artists to extend their existing work environments and hosts #[a(href="../projects") artistic projects] which demonstrate the use of these tools. It is generally meant as a platform for exchange and collaboration around digital arts, in particular focusing around the emerging field of virtual reality.

    div


        h2 Virtual Reality as a Performance Environment


        p The idea of virtual sound worlds which can both react to and control sound in real-time is a central driving force behind Sonosthesia. A number of key concepts make virtual reality as a performance environment a truly inspiring goal.

        h3 Inbuilt Physics

        p When we think of our real-life experience of sound control, it is impossible to dissociate it from physics. We generate sounds by tapping, thumping, scraping, scratching, pinching, plucking, strumming... The physics behind all these actions are intuitive to us, we do not need to understand them mathematically in order for them to make sense. They can however be described in terms of collisions, contacts or friction by the physics engines which are central to any virtual reality platform. Rapidly evolving input devices have the potential to emulate and augment real-world object manipulation using these intuitive concepts, generating a stream of physics related data which can be used to provide organic, lifelike experiences of sound and graphics.

        h3 Gestures in Context

        p Virtual reality gives context to gestures, something which has been missing from a previous gestural interfaces. We intuitively expect the result of our gestures to be dependent on their effect on the local environment. A drummer can use the same stick motions to create a great number of different sounds by varying impact points. In general, musicians learn a number of techniques which can be re-used and recombined by changing the application points. In the same way, the context brought by a virtual world allows performers to create infinite control variations from a limited gestural vocabulary by giving virtual objects different control characteristics which can be encoded in their color, texture, size, shape or any other attribute.

        h3 Spectator Immersion

        p Possibly the greatest advantage of virtual reality is that it is simultaneously an interaction context and a rendering context, which can greatly enhance the connection to the medium. It allows the audience to be immersed in the performance environment, experiencing, understanding and connecting with the performer's interactions at a deeper level, and possibly also affecting the content themselves. In a sense blurring the distinction between performers and audience.

    div

        h2 Building Bridges

        p Audio-visual art has potential mass appeal, but has struggled to escape the world of academia, research institutions and heavily technical enthusiasts. This is partly a reflection of the tools that are often used in cutting edge audio/visual art, such as Max or PureData which are extremely powerful and versatile but are too often seen as all encompassing solutions. A glance at the feature sets of other types of software packages suggests that audio visual arts are missing out. The idea is not that Max or any of the tools currently used in research projects should be replaced by Unity and LogicPro. It is that all these software components should be able to easily interact together as they all provide different aspects of functionality which is relevant to the project goals. All these software components provide hooks to add functionality, either as scripts, plugins or external binaries, which we can use to make them interact. The main challenge for Sonosthesia is providing a powerful common language for these interactions. In the end, building these bridges will bring a wealth of current artists closer to the project, with all their expertise and audiences. Audio-visual art can be mainstream, it just needs to reach out.

        h3 Virtual Reality Game Engines

        p Mainstream game engines such as Unity offer game developers and artists functionality which is of obvious interest for Sonosthesia, such as advanced scene editing, guizmos, particle systems, a great shader language, powerful profiling and importantly a hugely abundant and versatile resource in the online asset store. It also produces extremely portable and adaptable software, which will work with a wide array of input devices, exploit the latest advances in GPU hardware and run on a wide variety of platforms including Windows, Linux, macOS, iOS, Android, WebGL and most importantly emerging head mounted displays aiming to democratise virtual reality (Occulus Rift, HTC Vive, Sumsung GearVR). Being supported by a powerful gaming industry, Unity seems like it is bound to surf the crest of the VR wave at least for the foreseeable future.

        h3 Digital Audio Workstations

        p Digital audio workstation (DAWs) are a primary tool for music composition and production, sound design, and most importantly live musical performances. They have extensive and intuitive tools for sequencing, mixing, orchestrating, processing, routing, loops, scores, automation, metadata and much more. This allows artists to easily create clear timbral, harmonic and temporal structure which is often missing in current audio-visual art. Although it could be argued that an environment like Max could replicate this structuring functionality, it would be difficult make it as usable and cohesive as packages like Logic Pro, Ableton Live or Pro Tools. They are very different tools which do different things, and guide artistic creation in different ways.

        h3 Visual Programming Languages







