

.container



    h2 Objectives

    p The proposed approach is to extend existing graphics/physics/VR engines (such as Unity, Unreal Game Engine, Blender) and digital audio workstations (such as Logic Pro, Ableton Live or Pro Tools, through the use of VST or AU plugins and custom built processors and synthesizers), allowing them to communicate with or control each other via open, documented protocols (built over OSC). Using this approach, the project can make use of cutting edge specialised software, and their  and does not

    p By exploiting emerging interaction techniques such as virtual and augmented reality. These techniques show a huge potential for creating highly engaging multi-modal art forms. The driving idea behind sonosthesia is that virtual worlds can become performance spaces in their own right within which performers can interact with purposely designed virtual objects, with all the power of modern physics engines providing organic, lifelike experiences, and the flexibility to configure these objects as audio/visual controllers.

    p


    ul
        li Gather, describe and develop ideas for audio/visual content generation paradigms

    p The project provides a set of  interoperable tools, plugins and libraries which allow existing software to interact, and to provide meaningful abstractions for mapping different domains.

    p It primarily aims to allowing existing software to interact with each other in ways which - open approach which allows it to interface with

    h2 Concepts
