.container

    p Sonosthesia is currently developed and maintained by #[a(href="mailto:dev.jonathan.thorpe@gmail.com") Jonathan Thorpe] (on #[a(href="https://www.linkedin.com/in/jonathan-thorpe-811b845b/") LinkedIn] and #[a(href="https://stackoverflow.com/users/964813/jbat100") StackOverflow]). If you are interested in the project, we are looking for many types of contributions including:

    ul
        li Musicians and sound designers wanting to expand their pieces into immersive visual art.
        li #[a(href="https://cycling74.com/products/max") Max]/#[a(href="https://puredata.info/") PD]/#[a(href="https://vvvv.org/propaganda") vvvv] wizards interested in adding VR/AR interfaces into their patches.
        li Technical artists, especially #[a(href="https://www.popcornfx.com/") PopcornFX] and #[a(href="https://www.sidefx.com/") Houdini]
        li Unity and Unreal experts (particularly shaders, procedural graphics, networking, VR)
        li Anyone interested in the project and wanting to expose their software as sonosthesia components to the hub.
        li Anyone with GUI design knowledge in JUCE, CSS/SASS (or anything else) who could help making the interfaces prettier.



