h2 Sonosthesia-Analyser

p This project is derived from Adam Stark's #[a(href=\"https://github.com/adamstark/Sound-Analyser\") Sound Analyser]. Sound analysis can be performed using a variety of algorithms from the #[a(href=\"https://github.com/adamstark/Gist\") Gist Library] and others.