h3 Tutorials

p VST/AU plugins have the great advantage that they will run on any compatible host, which include digital audio workstations and Max. Current work focuses on performing real-time sound/MIDI analysis and mapping and broadcasting the results on the local network. Planned work includes building custom synthesizers (using a variety of tools including Max, Reaktor, Massive, Absynth and Omnisphere) which can be network-controlled using HCI paradigms implemented in parts of the Sonosthesia project.