div.container

    h2 Sonosthesia-Relay

    h3 Project Overview

    p This project extends the functionality of the #[a(href="analyser") Sonosthesia-Analyser] to MIDI and automation data. It allows this musical control data to be assigned to control groups and descriptors and routed to multiple OSC targets (host/port combinations). A number of other additional features are planned such as operators (offsets, multipliers, non-linear mappings etc...).

    div.row
        div.col-sm-2
        div.col-sm-8.body-image-container
            img(src="../images/analyser-diagram.png")
        div.col-sm-2


    h3 Source and Downloads

    p The source for the project is #[a(href="https://github.com/jbat100/sonosthesia-analyser") available on Github]. It is an audio plugin based on the #[a(href="https://www.juce.com/features") JUCE toolkit] which allows the product to be compatible with a number of standards, most significantly VST and AU. Here are some pre-compiled binaries but you can tweak the JUCE project to your needs if they are not sufficient (and feel free to contribute...).

