h2 Sonosthesia-Unity

p A number of game engines are available today, but Unity stands out as the environment of choice for virtual reality. Its extensive C# scripting capabilities and hooks for binary extensions give it, on top of all its advantages, a great opportunity to implement custom behaviour. A networking engine implementing the protocols developed for the project is proposed, as well as ongoing work on visualisation and collision parameterisation for sound synthesis control.

p Mainstream game engines such as Unity offer game developers and artists functionality which is of obvious interest for Sonosthesia, such as advanced scene editing, guizmos, particle systems, a great shader language, powerful profiling and importantly a hugely abundant and versatile resource in the online asset store. It also produces extremely portable and adaptable software, which will work with a wide array of input devices, exploit the latest advances in GPU hardware and run on a wide variety of platforms including Windows, Linux, macOS, iOS, Android, WebGL and most importantly emerging head mounted displays aiming to democratise virtual reality (Occulus Rift, HTC Vive, Sumsung GearVR). Being supported by a powerful gaming industry, Unity seems like it is bound to surf the crest of the VR wave at least for the foreseeable future.

