
.container


    h1 VR as a Controller

    h1 Sound as a Controller


    p As a simple example, a component receives a control stream from a source and reacts to it by producing musical notes and timbral changes. It can then generate descriptors of the content it has generated and feed them into a new control stream of its own. This stream can be piped to another software component (which generates graphical textures, mesh deformations, physical forces in a simulation, or whatever you can imagine).). The next software component in the pipeline receives this control data as input and the can in turn generate content and an associated descriptor output control stream. This control stream can be piped into yet another software component, or several, or looped back to the first component, creating an infinite software control loop. Concrete examples may help.

