
p https://www.kadenze.com/courses/creative-programming-for-audiovisual-art-i/sessions

p Mick Grierson

p Creative not technical process (sculpturer and painters need to know the techniques art is the point)

p CodeCircle

ul
    li real time coding environment

p synchrysis sound and images together change the perception of both
